@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: Rubik;
  direction: rtl;
}

body {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  background-color: #EEEEEE;
}

.dr-pic {
  width: 150px;
  border-radius: 50%;
}

.dr-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.hook,
.end {
  text-align: center;
}

.hook {
  margin-bottom: 15px;
}

.hook-text {
  font-size: 25px;
  line-height: 40px;
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .hook-text {
    font-size: 16px;
    line-height: 30px;
  }

  .hook {
    font-size: 16px;
  }

  .end {
    font-size: 16px;
  }
}

span {
  font-weight: bold;
}

.end {
  font-size: 25px;
  line-height: 38px;
  margin-bottom: 20px;
  font-weight: bold;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  height: 50px;
  margin: 5px;
  margin-bottom: 50px;
  width: 120px;
  background: #333;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Consolas, Courier New, monospace;
  border: solid #404c5d 1px;
  font-size: 16px;
  color: rgb(161, 161, 161);
  -webkit-transition: 500ms;
  transition: 500ms;
  border-radius: 5px;
  background: linear-gradient(145deg, #2e2d2d, #212121);
  -webkit-box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
    inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
  box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
    inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
}

button:hover {
  -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
  box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
  color: #d6d6d6;
  -webkit-transition: 500ms;
  transition: 500ms;
}

button:active {
  -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
  box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
  color: #d6d6d6;
  -webkit-transition: 100ms;
  transition: 100ms;
}

@media screen and (max-width: 768px) {
  body {
    margin: 10px;
  }
}